button {
    display: inline-block;
    border: none;
    padding: 15px 30px;
    margin: 0;
    text-decoration: none;
    background-color: #33755f;
    color: #000000;
    font-family: sans-serif;
    font-size: 12pt;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

button:hover {
    background-color: #20473a;
}

.user-info {
    height: 180px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}