form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
}

button {
    background-color: #33755f;
    color: #000000;
    display: inline-block;
    border: none;
    padding: 15px 30px;
    margin: 0;
    margin-top: 10px;
    text-decoration: none;
    font-size: 12pt;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #20473a;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

label {
    margin-top: 10px;
}

.error-msg {
    margin-bottom: 10px;
    color: red;
    font-style: italic;
}