table {
    table-layout: fixed;
    border-collapse: collapse;
    height: 40px;
    width: 100%;
}

thead td {
    font-weight: bold;
    border-bottom: 2px solid gray;
    padding: 4px 20px 4px 0px;
}

tbody td {
    border-bottom: 1px solid gray;
    padding: 4px 20px 4px 0px; 
}

tbody tr:hover {
    background-color: gray;
}

input {
    width: 100px;
}

.detail-button {
    float: right;
}
